# misc
.DS_Store
**/_archives
crash.log
logs/
#--- Terraform ----------------------
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rcm
outputs.tf
#--- python -------------------------
__pycache__/
*.py[cod]
*$py.class
#--- venv ---------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
#--- IDE project files --------------
.vscode/
*.code-workspace
.idea
init.sh
